body {
background: #fff;
font-family: 'Open Sans', sans-serif;
color: #333333;
}
h1 {
	font-weight: 700;
	font-size: 2.3em;
}
h2 {
	font-weight: 700;
	font-size: 1.7em;
}
h3 {
	font-weight: 700;
	font-size: 1.2em;
}
p {
	font-weight: 400;
	font-size: 1em;
}
.navbar {
	background-color: #6A5E72;
	position: fixed;
	width: 100%;
	z-index: 6;
	border: none;
}
.navbar-default .navbar-nav li a {
	color: #F0F0F0;
}
.container {
	background: url(../img/img_banner_ninoycancer.jpg) no-repeat top center / cover transparent;
	color: white;
	text-align: center;
	margin-top: 0;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	height: 350px;
	padding-top: 60px;
	padding-bottom: 20px;
}
.huincha {
	background: url(../img/img_huincha_ninoycancer.jpg) no-repeat top center / cover transparent;
	color: white;
	text-align: center;
	margin-top: 0;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	height: 220px;
	padding-top: 60px;
	padding-bottom: 20px;
}
.huincha p {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
}
.container h1 {
	color: white;
	text-align: center;
	padding: 80px 30px 0px 30px;
}
.container p {
	color: white;
	text-align: center;
	padding: 0px 30px 0px 30px;
}
.modulos {
	padding: 30px 80px;
}
.footer {
	color: #F0F0F0;
	background-color: #6A5E72;
	text-align: center;
	padding: 20px 80px;
}
.form {
	text-align: left;
	margin: 5px;
}
.form_button {
	text-align: left;
	color: #333333;
	margin: 5px;
}



